/* .Head{
    margin-left: 500px;
} */
/* .Whole{
    background-color: aquamarine;
    margin-left: 500px;
}
.label-first{
    margin-top: 15px;
    margin-left: 10px;
}
.input-first{
    margin-top: 15px;
    margin-left: 10px;
}
.label-second{
    margin-top: 15px;
    margin-left: 10px;
}
.input-second{
    margin-top: 15px;
    margin-left: 10px;
}
.button{
    margin-left: 60px;
    margin-top: 25px;
    padding: 5px;
} */
.container{
    margin-left: 600px;
}